{% extends 'base.html' %}

{% load static %}

{% block title%} About Us {% endblock %}

{% block content %}


<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'website/images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">About Us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
      </div>
    </div>
  </div>
</section>
<!--About US Start-->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

{% comment %} <div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div> {% endcomment %}

<h2 style="text-align:center">Meet the Team</h2>
<p style="text-align:center">A Combination of Creative, Technical and Strategic Talents.</p>
<div class="row">
  <div class="column">
    <div class="card border-info text-center text-white bg-info">
      <img src="{% static 'website/images/testimony-21.jpg'%}" alt="Prashant" style="width:100%">
      <div class="container">
        <h2>Prashant Saurav</h2>
        <p class="title text-white">CEO & Founder</p>
        <div class="card-body">
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        {% comment %} <p><button class="button">Contact</button></p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card border-info text-center text-white bg-info">
      <img src="{% static 'website/images/testimony-2.jpg'%}" alt="Kundan" style="width:100%">
      <div class="container">
        <h2>Kundan Kumar</h2>
        <p class="title text-white">Director</p>
        <div class="card-body">
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        {% comment %} <p><button class="button">Contact</button></p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card border-info text-center text-white bg-info">
      <img src="{% static 'website/images/testimony-28.jpg'%}" alt="Vinayak" style="width:100%">
      <div class="container">
        <h2>Vinayak Kumar</h2>
        <p class="title text-white">Back End Developer</p>
        <div class="card-body">
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        {% comment %} <p><button class="button">Contact</button></p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card border-info text-center text-white bg-info">
      <img src="{% static 'website/images/testimony-2old.jpg'%}" alt="Sneh" style="width:100%">
      <div class="container">
        <h2>Sneh priye</h2>
        <p class="title text-white">Full Stack Developer</p>
        <div class="card-body">
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        {% comment %} <p><button class="button">Contact</button></p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card border-info text-center text-white bg-info">
      <img src="{% static 'website/images/testimony-10.jpg'%}" alt="Anukriti" style="width:100%">
      <div class="container">
        <h2>Anukriti</h2>
        <p class="title text-white">Content Manager</p>
        <div class="card-body">
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        {% comment %} <p><button class="button">Contact</button></p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card border-info text-center text-white bg-info">
      <img src="{% static 'website/images/testimony-5old.jpg'%}" alt="Rahul" style="width:100%">
      <div class="container">
        <h2>Rahul Kumar</h2>
        <p class="title text-white">Digital Marketing Expert</p>
        <div class="card-body">
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        {% comment %} <p><button class="button"></button></p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  {% comment %} <div class="item">
							<div class="testimony-wrap d-flex align-items-stretch" style="background-image: url({% static 'website/images/testimony-2.jpg' %});">
								<div class="overlay"></div>
								<div class="text">
									<div class="line"></div>
									<p class="mb-4">Please provide me the Tag line for Director!</p>
									<p class="name">Kundan Kumar</p>
									<span class="position">Director</span>
								</div>
							</div>
		</div> {% endcomment %}

  <div class="column">
    <div class="card border-info text-center text-white bg-info">
      <img src="{% static 'website/images/testimony-3old.jpg'%}" alt="Faraz" style="width:100%">
      <div class="container">
        <h2>Faraz Kahn</h2>
        <div class="card-body">
        <p class="title text-white">Graphics designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        {% comment %} <p><button class="button">Contact</button></p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  </div>

</body>
</html>


{% endblock %}
