<section class="ftco-intro ">
		<div class="container">
			<div class="row justify-content-sm-start"><!--justify-content-end-->
				<div class="col-md-7">
					<div class="row no-gutters d-flex align-items-stretch">
						<div class="col-md-4 d-flex align-self-stretch ftco-animate">
							<div class="services-1">
								<div class="line"></div>
								<div class="icon"><span><span><img src="{% static 'website/images/thumbs-up.svg' %}" class="filter-green" alt=""></span></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Complete IT Solution</h3>
								</div>
							</div>      
						</div>
						<div class="col-md-4 d-flex align-self-stretch ftco-animate">
							<div class="services-1 color-1">
								<div class="line"></div>
								<div class="icon"><span class="flaticon-light-bulb"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Competent Design Strategy</h3>
								</div>
							</div>      
						</div>
						<div class="col-md-4 d-flex align-self-stretch ftco-animate">
							<div class="services-1 color-2">
								<div class="line"></div>
								<div class="icon"><span class="flaticon-cyber"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3" id="readmore">Market Strategy</h3>
								</div>
							</div>      
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> 

	<!-- Blog section-->
	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>Read our latest blog</h2>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="blog-single.html" class="block-20" style="background-image: url({% static 'website/images/image_1.jpg' %});">
						</a>
						<div class="text mt-3 float-right d-block">
							<div class="d-flex align-items-center pt-2 mb-4 topp">
								<div class="one">
									<span class="day">29</span>
								</div>
								<div class="two pl-1">
									<span class="yr">2020</span>
									<span class="mos">June</span>
								</div>
							</div>
							<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="blog-single.html" class="block-20" style="background-image: url({% static 'website/images/image_2.jpg' %});">
						</a>
						<div class="text mt-3 float-right d-block">
							<div class="d-flex align-items-center pt-2 mb-4 topp">
								<div class="one">
									<span class="day">29</span>
								</div>
								<div class="two pl-1">
									<span class="yr">2020</span>
									<span class="mos">June</span>
								</div>
							</div>
							<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry">
						<a href="blog-single.html" class="block-20" style="background-image: url('{% static 'website/images/image_3.jpg'%} ');">
						</a>
						<div class="text mt-3 float-right d-block">
							<div class="d-flex align-items-center pt-2 mb-4 topp">
								<div class="one">
									<span class="day">29</span>
								</div>
								<div class="two pl-1">
									<span class="yr">2020</span>
									<span class="mos">June</span>
								</div>
							</div>
							<h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Leagl Section -->
	<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Explore</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">About</a></li>
							<li><a href="{% url 'contact' %}" class="py-2 d-block">Contact</a></li>
							<li><a href="{% url 'services' %}" class="py-2 d-block">What We Do</a></li>
							<li><a href="#" class="py-2 d-block">Plans &amp; Pricing</a></li>
							<li><a href="#" class="py-2 d-block">Refund Policy</a></li>
							<li><a href="{% url 'contact' %}" class="py-2 d-block">Call Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Legal</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Join Us</a></li>
							<!--<li><a href="#" class="py-2 d-block">Blog</a></li>-->
							<li><a href="#" class="py-2 d-block">Privacy &amp; Policy</a></li>
							<li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
							<li><a href="#" class="py-2 d-block">Careers</a></li>
							<li><a href="{% url 'contact' %}" class="py-2 d-block">Contact</a></li>
						</ul>
					</div>
				</div>


<!-- -->
