{% extends 'base.html' %}

{% load static %}

{% block title%} Encoder N Apps {% endblock %}

{%block consult%} 

<li class="nav-item cta"><a href="#freeconsult" class="nav-link" id="free">Free Consultation</a></li>


{%endblock%}

{% block content %}



	<div class="hero-wrap js-fullheight" style="background-image: url({% static 'website/images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
				<div class="col-md-8 ftco-animate mt-5 pt-md-5" data-scrollax=" properties: { translateY: '70%' }">
					<div class="row">
						<div class="col-md-7">
							<p class="mb-4 pl-md-5  blink_me" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
								Transforming Your Ideas, <strong>Digitally</strong>
							</p>
						</div>
					</div>
					<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Experienced for <br>Every Kinds of ITSolution</h1>
					{% comment %} <p><a href="#readmore" class="btn btn-primary px-4 py-3 btn-grad1 ">Read more</a></p> {% endcomment %}
				</div>
			</div>
		</div>
	</div>
	
	
<div id="readmore">
	
</div>
	<section class="ftco-section" id="readmore" >
		<div class="container">
			<div class="row justify-content-center pb-5"  >
				<div class="col-lg-6 heading-section text-center ftco-animate">
					<h2 class="mb-4" >We Create <span>What</span> you need! <span>Lets implement!</span></h2>
					<p>We are Encoder N Apps!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="services-2 text-center">
						<div class="icon">
							<span class="flaticon-web-programming"></span>
						</div>
						<div class="text">
							<h3>Web Development</h3>
							<p>Not Only Websites, We Develop Your Business and Brand</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<img src="{% static 'website/images/services.svg' %}" class="img-fluid" alt="">
				</div>
				<div class="col-md-4">
					<div class="services-2 text-center">
						<div class="icon">
							<span class="flaticon-secure"></span>
						</div>
						<div class="text">
							<h3>Web Design</h3>
							<p>We Dress Your Website with Custom Designs that Convert!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- This is for consult us
	<section class="ftco-counter img" id="section-counter">
		<div class="container">
			<div class="row no-gutters d-flex">
				<div class="col-md-6 d-flex">
					<div class="img d-flex align-self-stretch" style="background-image:url({% static 'website/images/about.jpg' %});"></div>
				</div>
				<div class="col-md-6 p-3 pl-md-5 py-5 bg-primary">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section heading-section-white ftco-animate">
							<h2 class="mb-4">Consult us here in <span>ITSolution</span></h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 justify-content-center counter-wrap ftco-animate">
							<div class="block-18 mb-4">
								<div class="text">
									<strong class="number" data-number="750">0</strong>
									<span>Project Complete</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 justify-content-center counter-wrap ftco-animate">
							<div class="block-18 mb-4">
								<div class="text">
									<strong class="number" data-number="568">0</strong>
									<span>Happy Clients</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 justify-content-center counter-wrap ftco-animate">
							<div class="block-18 mb-4">
								<div class="text">
									<strong class="number" data-number="478">0</strong>
									<span>Business Partners</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 justify-content-center counter-wrap ftco-animate">
							<div class="block-18 mb-4">
								<div class="text">
									<strong class="number" data-number="780">0</strong>
									<span>IT Consultant</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
--> 

<!-- Services.html start-->
	<section class="ftco-section services-section">
		<div class="container"><!-- style="background-image: url({% static 'website/images/bg_4.jpg' %});"-->
			<div class="row justify-content-center pb-5">
				<div class="col-md-6 heading-section text-center ftco-animate">
					<h2 class="mb-4">Our Exclusive <span>IT Solution</span> Services</h2>
				</div>
			</div>
			<div class="row d-flex no-gutters">
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block">
						<div class="line"></div>
						<div class="icon"><span class="flaticon-web-programming"></span></div>
						<div class="media-body">
							<h3 class="heading mb-3">Web Development</h3>
							<p>	Not Only Websites, We Develop Your Business and Brand</p>
						</div>
					</div>      
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block">
						<div class="line"></div>
						<div class="icon"><span class="flaticon-stats"></span></div>
						<div class="media-body">
							<h3 class="heading mb-3">Artificial Intelligence</h3>
							<p>From a Business Perspective
							We innovate your company with AI</p>
						</div>
					</div>    
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block">
						<div class="line"></div>
						<div class="icon"><span class="flaticon-secure"></span></div>
						<div class="media-body">
							<h3 class="heading mb-3">Network Security</h3>
							<p>We help to secure Every thing! <br>After all, it is your information.</p>
						</div>
					</div>      
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block">
						<div class="line"></div>
						<div class="icon"><span><img src="{% static 'website/images/thumbs-up.svg' %}" class="filter-green" alt=""></span></div>
						<div class="media-body">
							<h3 class="heading mb-3">Digital Marketing</h3>
							<p>Give Your Business Wings to Fly with Our Digital Marketing Solutions</p>
						</div>
					</div>      
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block">
						<div class="line"></div>
						<div class="icon"><span> <img src="{% static 'website/images/mobile.svg' %}" class="filter-green" alt=""> </span></div>
						<div class="media-body">
							<h3 class="heading mb-3 style="font-size:14px"">Mobile Development</h3>
							<p>Our Professional team robust and scalable mobile app development services for iPhone, iPad and Android platform.</p>
						</div>
					</div>      
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block">
						<div class="line"></div>
						<div class="icon"><span><img src="{% static 'website/images/software.svg' %}" class="filter-green" alt=""></span></div>
						<div class="media-body">
							<h3 class="heading mb-3">Software Development</h3>
							<p>Designing with the Cool thinking! We develop what you need!</p>
						</div>
					</div>      
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block">
						<div class="line"></div>
						<div class="icon"><span><img src="{% static 'website/images/touchxp.svg' %}" class="filter-green" alt=""></span></div>
						<div class="media-body">
							<h3 class="heading mb-3">UI/UX</h3>
							<p>A well designed user interface provides end-to end solutions to fulfil all the requirements of a user.</p>
						</div>
					</div>      
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block">
						<div class="line"></div>
						<div class="icon"><span class="flaticon-presentation"></span></div>
						<div class="media-body">
							<h3 class="heading mb-3">App Development</h3>
							<p>We design and develop custom mobile application for iOS and Android platforms. </p>
						</div>
					</div>      
				</div>
			</div>
		</div>
	</section>

	<!-- Services.html end -->

{% comment %}
	<section class="ftco-section ftco-no-pt">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h2 class="mb-4">Our Strategic <span>Work</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="project">
						<div class="img">
							<img src="{% static 'website/images/work-1.jpg' %}" class="img-fluid" alt="Encoder N Apps">
						</div>
						<div class="text text-center">
							<span>Web Development</span>
							<h3><a href="#">Best Solution for Information Technology</a></h3>
						</div>
						<a href="{% static 'website/images/work-1.' %}" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="project">
						<div class="img">
							<img src="{% static 'website/images/work-2.jpg' %}" class="img-fluid" alt="Encoder N Apps">
						</div>
						<div class="text text-center">
							<span>Web Application</span>
							<h3><a href="#">Creative Idea Build Up</a></h3>
						</div>
						<a href="{% static 'website/images/work-2.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="project">
						<div class="img">
							<img src="{% static 'website/images/work-3.jpg' %}" class="img-fluid" alt="Encoder N Apps">
						</div>
						<div class="text text-center">
							<span>Web Development</span>
							<h3><a href="#">Web Design Concept &amp; Web Analysis</a></h3>
						</div>
						<a href="{% static 'website/images/work-3.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="project">
						<div class="img">
							<img src="{% static 'website/images/work-4.jpg' %}" class="img-fluid" alt="Encoder N Apps">
						</div>
						<div class="text text-center">
							<span>UI/UX Strategy</span>
							<h3><a href="#">Strategy for Enduring Customer Relationships</a></h3>
						</div>
						<a href="{% static 'website/images/work-4.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>{% endcomment %}

	<section class="ftco-section bg-light ftco-faqs">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 order-md-last">
					<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url({% static 'website/images/about.jpg' %});">
					</div>
					<div class="d-flex mt-3">
						<div class="img img-2 mr-md-2 w-100" style="background-image:url({% static 'website/images/about-1.jpg' %} );"></div>
						<div class="img img-2 ml-md-2 w-100" style="background-image:url({% static 'website/images/about-2.jpg' %});"></div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="heading-section mb-5 mt-5 mt-lg-0">
						<h2 class="mb-3">We provide These!</h2>
					</div>
					<div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
						<div class="card">
							<div class="card-header p-0" id="headingOne">
								<h2 class="mb-0">
									<button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
										<p class="mb-0">WEB DESIGN SOLUTION</p>
										<i class="fa" aria-hidden="true"></i>
									</button>
								</h2>
							</div>
							<div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-body py-3 px-0">
									<ol>
										
										<li>Web Page Design</li>
										<li>Landing Page Design</li>
										<li>User Experience (UX) Design</li>
										<li>User Interface (UI) Design</li>
										<li>Responsive Web Design</li>
										<li>Mobile Site Design</li>
										<li>Email Newsletter Design</li>
										<li>Social Media Page</li>
										<li>Logo Design</li>
									</ol>
								</div>
							</div>
						</div>

						

						<div class="card">
							<div class="card-header p-0" id="headingTwo" role="tab">
								<h2 class="mb-0">
									<button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
										<p class="mb-0">WEB DEVELOPMENT SOLUTION</p>
										<i class="fa" aria-hidden="true"></i>
									</button>
								</h2>
							</div>
							<div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
								<div class="card-body py-3 px-0">
									<ol>
										<li>Ecommerce Site Development</li>
										<li>Multi-Vendor Ecommerce Development</li>
										<li>CMS Development</li>
										<li>Real Estate Portal Development
										<li>Custom Web Development</li>
										<li>Educational Website Development</li>
										<li>Web Application Development</li>
										<li>Blogging Website Development</li>
										<li>Wordpress Theme Development</li>
										<li>Wordpress Plugin Development</li>
										
									</ol>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header p-0" id="headingThree" role="tab">
								<h2 class="mb-0">
									<button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
										<p class="mb-0">ONLINE MARKETING SOLUTION</p>
										<i class="fa" aria-hidden="true"></i>
									</button>
								</h2>
							</div>
							<div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
								<div class="card-body py-3 px-0">
									<ol>
										<li>Content Strategy</li>
										<li>Professional Copywriting</li>
										<li>Search Engine Optimization</li>
										<li>Social Media Marketing</li>
										<li>Email Marketing</li>
										<li>Display Advertising</li>
										<li>Blog Marketing</li>
										<li>Online Public Relations</li>
										<li>Conversion Rate Optimization</li>
										<li>Pay-Per-Click Marketing</li>
									</ol>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header p-0" id="headingFive" role="tab">
								<h2 class="mb-0">
									<button href="#collapseFive" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFive">
										<p class="mb-0">SOFTWARE DEVELOPMENT</p>
										<i class="fa" aria-hidden="true"></i>
									</button>
								</h2>
							</div>
							<div class="collapse" id="collapseFive" role="tabpanel" aria-labelledby="headingFive">
								<div class="card-body py-3 px-0">
									<ol>
										
										<li>Software Development</li>
										<li>Software Enhancement</li>
										<li>Maintainance &amp; Support</li>
										<li>API Development</li>
									</ol>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header p-0" id="headingFour" role="tab">
								<h2 class="mb-0">
									<button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
										<p class="mb-0">Get a Quote!</p>
										<i class="fa" aria-hidden="true"></i>
									</button>
								</h2>
							</div>
							<div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
								<div class="card-body py-3 px-0">
								<ul>
									<li>Get a Quote from Us! <a href="{% url 'contact' %}"> Contact US!</a></li>
								</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	

	<section class="ftco-section ftco-no-pb testimony-section" style="background-image: url({% static 'website/images/bg_1.jpg' %});">
		<div class="overlay-1"></div>
		<div class="container-fluid">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<h2 class="mb-4">Meet the Team</h2>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12 testimonial">
					<div class="carousel-testimony owl-carousel ftco-owl">
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch" style="background-image: url({% static 'website/images/testimony-21.jpg' %});">
								<div class="overlay"></div>
								<div class="text">
									<div class="line"></div>
									<p class="mb-4"> Please Provide me 2 lines tag line</p>
									<p class="name">Prashant Saurav</p>
									<span class="position">CEO </span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch" style="background-image: url({% static 'website/images/testimony-2.jpg' %});">
								<div class="overlay"></div>
								<div class="text">
									<div class="line"></div>
									<p class="mb-4">Please provide me the Tag line for Director!</p>
									<p class="name">Kundan Kumar</p>
									<span class="position">Director</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch" style="background-image: url({% static 'website/images/testimony-28.jpg' %});">
								<div class="overlay"></div>
								<div class="text">
									<div class="line"></div>
									<p class="mb-4">Work hard. Play harder. CODE hardest.</p>
									<p class="name">Vinayak Kumar</p>
									<span class="position">Back End Developer</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch" style="background-image: url({% static 'website/images/testimony-10.jpg' %});">
								<div class="overlay"></div>
								<div class="text">
									<div class="line"></div>
									<p class="mb-4" style="font-size:14px">Anukriti is a student of MA in Advertising, Public relations and Corporate communication at Sharda University.She thought of outsourcing the work and started freelance content writing.</p>
									<p class="name">Anukriti</p>
									<span class="position">Content Manager</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch" style="background-image: url({% static 'website/images/testimony-2old.jpg' %});">
								<div class="overlay"></div>
								<div class="text">
									<div class="line"></div>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Sneh Priye Dev Rishi</p>
									<span class="position">Full Stack Developer</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch" style="background-image: url({% static 'website/images/testimony-3old.jpg' %});">
								<div class="overlay"></div>
								<div class="text">
									<div class="line"></div>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Faraz Khan</p>
									<span class="position">Graphics Designer</span>
								</div>
							</div>
						</div>
					<!--	<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch" style="background-image: url({% static 'website/images/testimony-1old.jpg' %});">
								<div class="overlay"></div>
								<div class="text">
									<div class="line"></div>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Rahul Kumar</p>
									<span class="position">Digital Marketing Expert</span>
								</div>
							</div>
						</div> -->
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch" style="background-image: url({% static 'website/images/testimony-5old.jpg' %});">
								<div class="overlay"></div>
								<div class="text">
									<div class="line"></div>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<p class="name">Rahul Kumar</p>
									<span class="position">Digital Marketing Expert</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	{% if message_name %}
    <center>
    	
		<div id="msg">
			<style>

			#msg {
				/*background-color: #050a20;*/
				background-image: linear-gradient(to bottom, #5f65cf,#050a20,#050a20,#050a20);
			}

			#msg h2{
				text-align: center;
				padding-left: 0px;
				text-shadow: 2px;
				color: black;
				-webkit-text-stroke: 1px black;
			   color: #1cb5e0;
			   text-shadow:
			       3px 3px 0 #000,
			     -1px -1px 0 #000,  
			      1px -1px 0 #000,
			      -1px 1px 0 #000,
			       1px 1px 0 #000;
			}
			#msg h4{
				text-align: center;
				padding-left: 0px;
				text-shadow: 2px;
				color: #1cb5e0;
			}
			#msg h5{
				text-align: center;
				padding-left: 0px;
				text-shadow: 2px;
				color: orange;
			}
			.btn-grad {
			  padding:15px;
			  background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
			    transition: 0.5s;
			    background-size: 200% auto;
			    color: white;
			    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
			    /*box-shadow: 0 0 20px #eee;*/
			    display: inline;
			    border-radius: 25px;
			}
			.btn-grad:hover { 
			  background-position: right center; 
			}
				
			</style>
      <h2>Thanks {{ message_name }} !</h2>
      <h4> We got your email and will respond shortly.</h4>
      <h5 class="btn-grad"><a href="{% url 'index' %}" style="color:White;">Explore More!</a></h5>
      <br><br><br>
    </center>
    
  {% else %}
	<section class="ftco-appointment ftco-section img" style="background-image: url({% static 'website/images/bg_2.jpg' %});">
		<div class="overlay"></div>
		<div class="container" id="freeconsult">
			<div class="row">
				<div class="col-md-6 half ftco-animate">
					<h2 class="mb-4">Don't hesitate to contact us</h2>
					<form action="{% url 'index' %}" method="POST" class="appointment">

						{% csrf_token %}

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" name="message-name" placeholder="Name" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" class="form-control" name="message-email" placeholder="Email" required>
								</div>
							</div>
							{% comment %} <div class="col-md-12">
								<div class="form-group">
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="fa fa-chevron-down"></span></div>
											<select name="option" id="option" class="form-control" name="option">
											<option value="">Enter the option</option>
												
												<option value="1">Services</option>
												<option value="2">Web Development</option>
												<option value="3">Database Analysis</option>
												<option value="4">Server Security</option>
												<option value="5">UX/UI Strategy</option>
												<option value="6">Branding</option>
												<option value="7">Applications</option>
											</select>
										</div>
									</div>
								</div>
							</div> {% endcomment %}
							<div class="col-md-12">
												<div class="form-group">
													
													<input type="tel" class="form-control" name="tel" id="tel" placeholder="Phone: +xx-xxxxx-xxxxx" onkeypress="return onlyNumberKey(event)" required>
												</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea  id="" cols="30" rows="7" class="form-control" placeholder="Message" name="message" required></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Send message" class="btn btn-primary py-3 px-4" onclick="return detailssubmit()">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endif %}
<style type="text/css" media="screen">

 .filter-green{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
        width: 70px;
    }
	
</style>
<script> 
    function onlyNumberKey(evt) { 
          
        // Only ASCII charactar in that range allowed 
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
            return false; 
        return true; 
    } 
</script> 
<script> 
    function detailssubmit() { 
        alert("Your details were Submitted"); 
    } 
</script> 
	
{% endblock %}}
