{% extends 'base.html' %}

{% load static %}

{% block title%} Network {% endblock %}

{%block content%}
    
    
    <style>

   *{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

#section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section1{
    background: url('{% static 'website/images/network.jpg' %}') no-repeat left;
    background-size: 55%;
    background-color: #F9EBEA;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container1{
    width: 55%;
    float: right;
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
    padding: 150px;
}

.inner-container1 h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px black;
    color: #a3a3a8;
}

.text1{
    font-size: 20px;
    color: #17202A;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills1{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    color: #1C2833;
}

@media screen and (max-width:1200px){
    .inner-container1{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section1{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container1{
        width: 100%;
    }
}

@media screen and (max-width:300px){
    .about-section1{
        padding: 0;
    }
    .inner-container1{
        padding: 60px;
    }
}

    </style>


<style>
.figure{ margin: 0px;
        border-radius: 30%;
        }
.logo{
  width:130px;
  margin:0 auto 35px;
  margin-bottom: 35px;
 
  overflow: hidden;
}

</style>



    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'website/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
        <figure class="logo animated fadeInDown delay-07s">
          <a href="#"><img src="{% static 'website/images/ena1.png' %}" class="img-fluid" alt=""></a> 
        </figure>
          <h1 class="mb-3 bread">Services</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="{% url 'services' %}"> Services <i class="fa fa-chevron-right"></i></a><span> Network Security <i class="fa fa-chevron-right"></i></span></p>
        </div>
      </div>
    </div>
  </section>

<section id="section1">
    <div class="about-section1">
        <div class="inner-container1">
            <h1>Network Security</h1>
            <p class="text1">
                Secure your sensitive digital assets,
                confidential data and intellectual property from cyber threats and attacks.
                Encoder N Apps provides a more intelligent way to deliver secure remote access,
                protecting users from risky content and securing enterprise resources from unapproved access.
                The only remote access solution that includes patented technologies that stabilize and enhance the network,
                built specifically for the mobile and remote worker.
            </p>
            <div class="skills1">
                <span id="span1">Fast</span>
                <span id="span1">Smart</span>
                <span id="span1">Easy</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
