{% extends 'base.html' %}

{% load static %}

{% block title%} Services {% endblock %}

{%block consult%} 

<li class="nav-item cta"><a href="#freeconsult1" class="nav-link">Free Consultation</a></li>

{%endblock%}



{% block content %}

<style>
.figure{ margin: 0px;
        border-radius: 50%;
        }
.logo{
  width:130px;
  margin:0 auto 35px;
  margin-bottom: 35px;
  border-radius: 50%;
  overflow: hidden;
}

</style>
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'website/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <figure class="logo animated fadeInDown delay-07s">
          <a href="#"><img src="{% static 'website/images/encoder.jpg' %}" class="img-fluid" alt=""></a> 
        </figure>
          <h1 class="mb-3 bread">Services</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span> 
          <span>Services <i class="fa fa-chevron-right"></i></span></p>
        </div>
      </div>
    </div>
  </section>


<style type="text/css" media="screen">
  
  #section1{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

  }

  #containercard {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  #containercard .box {

    position: relative;
    width: 300px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;

  }

  #containercard .box .icon {

    position: relative;
    width:80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;

  }

  #containercard .box:nth-child(1) .icon {

    box-shadow: 0 0 0 #2d3260;
    background: #2d3260;
  }

  #containercard .box:nth-child(1):hover .icon {

    box-shadow: 0 0 0 400px #008080;
    
  }

  #containercard .box:nth-child(2) .icon {

    box-shadow: 0 0 0 #219ecf;
    background: #219ecf;
  }

  #containercard .box:nth-child(2):hover .icon {

    box-shadow: 0 0 0 400px #138EA1;
    
  }

  #containercard .box:nth-child(3) .icon {

    box-shadow: 0 0 0 #219;
    background: #b275bc;
  }

  #containercard .box:nth-child(3):hover .icon {

    box-shadow: 0 0 0 400px #1a5173;
    
  }

  #containercard .box:nth-child(4) .icon {

    box-shadow: 0 0 0 #008080;
    background: #008080;
  }

  #containercard .box:nth-child(4):hover .icon {

    box-shadow: 0 0 0 400px #1c92d2;
    
  }

  #containercard .box:nth-child(5) .icon {

    box-shadow: 0 0 0 #085F98;
    background: #1d424f;
      /*background: linear-gradient(to right, #74ebd5, #acb6e5)*/;
  }

  #containercard .box:nth-child(5):hover .icon {

    box-shadow: 0 0 0 400px #085F98;
    
  }

  #containercard .box:nth-child(6) .icon {

    box-shadow: 0 0 0 #138EA1;
    background: #6a5462;
  }

  #containercard .box:nth-child(6):hover .icon {

    box-shadow: 0 0 0 400px #219ecf;
    
  }

  #containercard .box .content {

    position: relative;
    z-index: 1;
    transtion: 0.5s;
  }

  #containercard .box:hover .content{

    /*background: #fff;*/
    color: #fff;
  }


  #containercard .box .content h3 {

    font-size: 20px;
    margin: 10px 0;
    padding: 0;
  }

  #containercard .box .content p {

    margin:  0;
    padding: 0;
  }

  .content a {

    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight:500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
  }

  #containercard .box:before {

     content: '';
     width: 50%;
     height: 100%;
     position: absolute;
     top: 0;
     left:0;
     background: rgba(255,255,255,.2);
     z-index: 2;
     pointer-events: none;
  }

  .filter-green{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
        width: 70px;
    }

</style>





<section id="section1">
  

  <div class="container" id="containercard">
    <div class="box">
      <div class="icon">
        <span><img src="{% static 'website/images/touchxp.svg' %}" class="filter-green" alt=""></span>
      </div>
      <div class="content">
        <h3>UI/UX</h3>
          <p>You Need User Interface!<br> No Problem! We are Here.</p>
        <a href="{% url 'UI' %}" title="" id="con_a">Read More</a>
      </div>
      </div>

      <div class="box">
        <div class="icon">
          <span><img src="{% static 'website/images/mobile.svg' %}" class="filter-green" alt=""></span>
        </div>
        <div class="content">
          <h3>App Development</h3>
        <p>Our Professional team robust and scalable mobile app development services for iPhone, iPad and Android platform.</p>
          <a href="{% url 'AppDevelopment' %}" title="It will work later on!" id="con_a">Read More</a>
        </div>
      </div>

      <div class="box">
        <div class="icon">
          <span><img src="{% static 'website/images/software.svg' %}" class="filter-green" alt=""></span>
        </div>
        <div class="content">
          <h3>Software Development</h3>
          <p>We develop what you need!</p>
          <a href="{% url 'SoftwareDevelopment' %}" title="It will work later on!" id="con_a">Read More</a>
        </div>
      </div>


      <div class="box">
        <div class="icon">
          <span><img src="{% static 'website/images/thumbs-up.svg' %}" class="filter-green" alt=""></span>
        </div>
        <div class="content">
          <h3>Digital Marketing</h3>
          <p>Give Your Business Wings to Fly with Our Digital Marketing Solutions</p>
          <a href="{% url 'DigitalMarketing' %}" title="It will work later on!" id="con_a">Read More</a>
        </div>
      </div>


      <div class="box">
        <div class="icon">
          <span class="flaticon-secure"></span></div>
        <div class="content">
          <h3>Network Security</h3>
          <p>We help to secure every thing!</p>
          {% comment %} <a href="javascript:void(0);" title="It will work later on!" id="con_a">Read More</a> {% endcomment %}
          <a href="{% url 'NetworkSecurity' %}" title="It will work later on!" id="con_a">Read More</a>
        </div>
      </div>


      <div class="box">
        <div class="icon">
          <span class="flaticon-stats"></span>
        </div>
        <div class="content">
          <h3>Artificial Intelligence</h3>
          <p>From a Business Perspective
              We innovate your company with AI</p>
          <a href="{% url 'AI' %}" title="It will work later on!" id="con_a">Read More</a>
        </div>
      </div>
    </div>


</section>

<!-- Services.html start-->
{% comment %} 
  <section class="ftco-section services-section">
    <div class="container"><!-- style="background-image: url({% static 'website/images/bg_4.jpg' %});"-->
      <div class="row justify-content-center pb-5">
        <div class="col-md-6 heading-section text-center ftco-animate">
          <h2 class="mb-4">Our Exclusive <span>IT Solution</span> Services</h2>
        </div>
      </div>
      <div class="row d-flex no-gutters">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span class="flaticon-web-programming"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Web Development</h3>
              <p> Not Only Websites, We Develop Your Business and Brand</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span class="flaticon-stats"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Artificial Intelligence</h3>
              <p>From a Business Perspective
              We innovate your company with AI</p>
            </div>
          </div>    
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span class="flaticon-secure"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Network Security</h3>
              <p>We help to secure Every thing!</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span><img src="{% static 'website/images/thumbs-up.svg' %}" class="filter-green" alt=""></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Digital Marketing</h3>
              <p>Give Your Business Wings to Fly with Our Digital Marketing Solutions</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span> <img src="{% static 'website/images/mobile.svg' %}" class="filter-green" alt=""> </span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Mobile Development</h3>
              <p>Our Professional team robust and scalable mobile app development services for iPhone, iPad and Android platform.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span><img src="{% static 'website/images/software.svg' %}" class="filter-green" alt=""></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Software Development</h3>
              <p>We develop what you need!</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span><img src="{% static 'website/images/touchxp.svg' %}" class="filter-green" alt=""></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">UI/UX</h3>
              <p>You Need User Interface! No Problem! We are Here.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span class="flaticon-presentation"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">App Development</h3>
              <p>We design and develop custom mobile application for iOS and Android platforms. </p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>

  <!-- Services.html end -->

  <section class="ftco-section ftco-no-pt">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h2 class="mb-4">Our Strategic <span>Work</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="project">
            <div class="img">
              <img src="{% static 'website/images/work-1.jpg' %}" class="img-fluid" alt="Encoder N Apps">
            </div>
            <div class="text text-center">
              <span>Web Development</span>
              <h3><a href="project.html">Best Solution for Information Technology</a></h3>
            </div>
            <a href="{% static 'website/images/work-1.' %}" class="icon image-popup d-flex justify-content-center align-items-center">
              <span class="fa fa-expand"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="project">
            <div class="img">
              <img src="{% static 'website/images/work-2.jpg' %}" class="img-fluid" alt="Encoder N Apps">
            </div>
            <div class="text text-center">
              <span>Web Application</span>
              <h3><a href="project.html">Creative Idea Build Up</a></h3>
            </div>
            <a href="{% static 'website/images/work-2.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
              <span class="fa fa-expand"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="project">
            <div class="img">
              <img src="{% static 'website/images/work-3.jpg' %}" class="img-fluid" alt="Encoder N Apps">
            </div>
            <div class="text text-center">
              <span>Web Development</span>
              <h3><a href="project.html">Web Design Concept &amp; Web Analysis</a></h3>
            </div>
            <a href="{% static 'website/images/work-3.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
              <span class="fa fa-expand"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="project">
            <div class="img">
              <img src="{% static 'website/images/work-4.jpg' %}" class="img-fluid" alt="Encoder N Apps">
            </div>
            <div class="text text-center">
              <span>UI/UX Strategy</span>
              <h3><a href="project.html">Strategy for Enduring Customer Relationships</a></h3>
            </div>
            <a href="{% static 'website/images/work-4.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
              <span class="fa fa-expand"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light ftco-faqs">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-md-last">
          <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url({% static 'website/images/about.jpg' %});">
          </div>
          <div class="d-flex mt-3">
            <div class="img img-2 mr-md-2 w-100" style="background-image:url({% static 'website/images/about-1.jpg' %} );"></div>
            <div class="img img-2 ml-md-2 w-100" style="background-image:url({% static 'website/images/about-2.jpg' %});"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="heading-section mb-5 mt-5 mt-lg-0">
            <h2 class="mb-3">We provide These!</h2>
          </div>
          <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
            <div class="card">
              <div class="card-header p-0" id="headingOne">
                <h2 class="mb-0">
                  <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                    <p class="mb-0">WEB DESIGN SOLUTION</p>
                    <i class="fa" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body py-3 px-0">
                  <ol>
                    
                    <li>Web Page Design</li>
                    <li>Landing Page Design</li>
                    <li>User Experience (UX) Design</li>
                    <li>User Interface (UI) Design</li>
                    <li>Responsive Web Design</li>
                    <li>Mobile Site Design</li>
                    <li>Email Newsletter Design</li>
                    <li>Social Media Page</li>
                    <li>Logo Design</li>
                  </ol>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header p-0" id="headingTwo" role="tab">
                <h2 class="mb-0">
                  <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <p class="mb-0">WEB DEVELOPMENT SOLUTION</p>
                    <i class="fa" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body py-3 px-0">
                  <ol>
                    <li>Ecommerce Site Development</li>
                    <li>Multi-Vendor Ecommerce Development</li>
                    <li>CMS Development</li>
                    <li>Real Estate Portal Development
                    <li>Custom Web Development</li>
                    <li>Educational Website Development</li>
                    <li>Web Application Development</li>
                    <li>Blogging Website Development</li>
                    <li>Wordpress Theme Development</li>
                    <li>Wordpress Plugin Development</li>
                    
                  </ol>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header p-0" id="headingThree" role="tab">
                <h2 class="mb-0">
                  <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                    <p class="mb-0">ONLINE MARKETING SOLUTION</p>
                    <i class="fa" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body py-3 px-0">
                  <ol>
                    <li>Content Strategy</li>
                    <li>Professional Copywriting</li>
                    <li>Search Engine Optimization</li>
                    <li>Social Media Marketing</li>
                    <li>Email Marketing</li>
                    <li>Display Advertising</li>
                    <li>Blog Marketing</li>
                    <li>Online Public Relations</li>
                    <li>Conversion Rate Optimization</li>
                    <li>Pay-Per-Click Marketing</li>
                  </ol>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header p-0" id="headingFour" role="tab">
                <h2 class="mb-0">
                  <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                    <p class="mb-0">Get a Quote!</p>
                    <i class="fa" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body py-3 px-0">
                <ul>
                  <li>Get a Quote from Us! <a href="{% url 'contact' %}"> Contact US!</a></li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endcomment %}

  <style type="text/css" media="screen">

 .filter-green{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
        width: 70px;
    }
  
</style>
{% endblock %}