{% extends 'base.html' %}

{% load static %}

{% block title%} Services {% endblock %}

{%block consult%} 

<li class="nav-item cta"><a href="#freeconsult1" class="nav-link">Free Consultation</a></li>

{%endblock%}



{% block content %}



<!-- Services.html start-->
<br>
  <section class="ftco-section services-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-6 heading-section text-center ftco-animate">
          <h2 class="mb-4">Our Exclusive <span>IT Solution</span> Services</h2>
        </div>
      </div>
      <div class="row d-flex no-gutters">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span class="flaticon-web-programming"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Web Development</h3>
              <p> Not Only Websites, We Develop Your Business and Brand</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span class="flaticon-stats"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Arificial Intelligence</h3>
              <p>from a Business Perspective
              WE INNOVATE YOUR COMPANY WITH AI</p>
            </div>
          </div>    
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span class="flaticon-secure"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Online Marketing</h3>
              <p>Give Your Business Wings to Fly with Our Online Marketing Solutions</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span><img src="{% static 'website/images/thumbs-up.svg' %}" class="filter-green" alt=""></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Digital Marketing</h3>
              <p>Give Your Business Wings to Fly with Our Digital Marketing Solutions</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span> <img src="{% static 'website/images/mobile.svg' %}" class="filter-green" alt=""> </span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Mobile Development</h3>
              <p>Give Your Business Wings to Fly with Our Online Marketing Solutions</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span><img src="{% static 'website/images/software.svg' %}" class="filter-green" alt=""></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Software Development</h3>
              <p>Give Your Business Wings to Fly with Our Online Marketing Solutions</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span><img src="{% static 'website/images/touchxp.svg' %}" class="filter-green" alt=""></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">UI/UX</h3>
              <p>Give Your Business Wings to Fly with Our Online Marketing Solutions</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block">
            <div class="line"></div>
            <div class="icon"><span class="flaticon-presentation"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">App Development</h3>
              <p>We design and develop custom mobile application for iOS and Android platforms. </p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>

  <!-- Services.html end -->

  <section class="ftco-section ftco-no-pt">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h2 class="mb-4">Our Strategic <span>Work</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="project">
            <div class="img">
              <img src="{% static 'website/images/work-1.jpg' %}" class="img-fluid" alt="Encoder N Apps">
            </div>
            <div class="text text-center">
              <span>Web Development</span>
              <h3><a href="project.html">Best Solution for Information Technology</a></h3>
            </div>
            <a href="{% static 'website/images/work-1.' %}" class="icon image-popup d-flex justify-content-center align-items-center">
              <span class="fa fa-expand"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="project">
            <div class="img">
              <img src="{% static 'website/images/work-2.jpg' %}" class="img-fluid" alt="Encoder N Apps">
            </div>
            <div class="text text-center">
              <span>Web Application</span>
              <h3><a href="project.html">Creative Idea Build Up</a></h3>
            </div>
            <a href="{% static 'website/images/work-2.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
              <span class="fa fa-expand"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="project">
            <div class="img">
              <img src="{% static 'website/images/work-3.jpg' %}" class="img-fluid" alt="Encoder N Apps">
            </div>
            <div class="text text-center">
              <span>Web Development</span>
              <h3><a href="project.html">Web Design Concept &amp; Web Analysis</a></h3>
            </div>
            <a href="{% static 'website/images/work-3.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
              <span class="fa fa-expand"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="project">
            <div class="img">
              <img src="{% static 'website/images/work-4.jpg' %}" class="img-fluid" alt="Encoder N Apps">
            </div>
            <div class="text text-center">
              <span>UI/UX Strategy</span>
              <h3><a href="project.html">Strategy for Enduring Customer Relationships</a></h3>
            </div>
            <a href="{% static 'website/images/work-4.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
              <span class="fa fa-expand"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light ftco-faqs">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-md-last">
          <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url({% static 'website/images/about.jpg' %});">
          </div>
          <div class="d-flex mt-3">
            <div class="img img-2 mr-md-2 w-100" style="background-image:url({% static 'website/images/about-1.jpg' %} );"></div>
            <div class="img img-2 ml-md-2 w-100" style="background-image:url({% static 'website/images/about-2.jpg' %});"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="heading-section mb-5 mt-5 mt-lg-0">
            <h2 class="mb-3">We provide These!</h2>
          </div>
          <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
            <div class="card">
              <div class="card-header p-0" id="headingOne">
                <h2 class="mb-0">
                  <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                    <p class="mb-0">WEB DESIGN SOLUTION</p>
                    <i class="fa" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body py-3 px-0">
                  <ol>
                    
                    <li>Web Page Design</li>
                    <li>Landing Page Design</li>
                    <li>User Experience (UX) Design</li>
                    <li>User Interface (UI) Design</li>
                    <li>Responsive Web Design</li>
                    <li>Mobile Site Design</li>
                    <li>Email Newsletter Design</li>
                    <li>Social Media Page</li>
                    <li>Logo Design</li>
                  </ol>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header p-0" id="headingTwo" role="tab">
                <h2 class="mb-0">
                  <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <p class="mb-0">WEB DEVELOPMENT SOLUTION</p>
                    <i class="fa" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body py-3 px-0">
                  <ol>
                    <li>Ecommerce Site Development</li>
                    <li>Multi-Vendor Ecommerce Development</li>
                    <li>CMS Development</li>
                    <li>Real Estate Portal Development
                    <li>Custom Web Development</li>
                    <li>Educational Website Development</li>
                    <li>Web Application Development</li>
                    <li>Blogging Website Development</li>
                    <li>Wordpress Theme Development</li>
                    <li>Wordpress Plugin Development</li>
                    
                  </ol>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header p-0" id="headingThree" role="tab">
                <h2 class="mb-0">
                  <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                    <p class="mb-0">ONLINE MARKETING SOLUTION</p>
                    <i class="fa" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body py-3 px-0">
                  <ol>
                    <li>Content Strategy</li>
                    <li>Professional Copywriting</li>
                    <li>Search Engine Optimization</li>
                    <li>Social Media Marketing</li>
                    <li>Email Marketing</li>
                    <li>Display Advertising</li>
                    <li>Blog Marketing</li>
                    <li>Online Public Relations</li>
                    <li>Conversion Rate Optimization</li>
                    <li>Pay-Per-Click Marketing</li>
                  </ol>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header p-0" id="headingFour" role="tab">
                <h2 class="mb-0">
                  <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                    <p class="mb-0">Get a Quote!</p>
                    <i class="fa" aria-hidden="true"></i>
                  </button>
                </h2>
              </div>
              <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body py-3 px-0">
                <ul>
                  <li>Get a Quote from Us! <a href="{% url 'contact' %}"> Contact US!</a></li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style type="text/css" media="screen">

 .filter-green{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
        width: 70px;
    }
  
</style>
{% endblock %}