{% extends 'base.html' %}

{% load static %}

{% block title%} Services {% endblock %}

{%block content%}
    
    
    <style>

   *{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

#section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section1{
    background: url('{% static 'website/images/pic.jpg' %}') no-repeat left;
    background-size: 55%;
    background-color: #ABEBC6 ;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container1{
    width: 55%;
    float: right;
    background: linear-gradient(to right, #4ca1af, #c4e0e5);;
    padding: 150px;
}

.inner-container1 h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text1{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills1{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    color :#1B2631; 
}

@media screen and (max-width:1200px){
    .inner-container1{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section1{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container1{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section1{
        padding: 0;
    }
    .inner-container1{
        padding: 60px;
    }
}

    </style>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'website/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1 class="mb-3 bread">Services</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="{% url 'services' %}"> Services <i class="fa fa-chevron-right"></i></a><span> Software Development <i class="fa fa-chevron-right"></i></span></p>
        </div>
      </div>
    </div>
  </section>

<section id="section1">
    <div class="about-section1">
        <div class="inner-container1">
            <h1>Software Development</h1>
            <p class="text1">
                Whether it’s custom software engineering, software testing and quality assurance, system integration, technology consulting, or software support — 
                we got you covered. We offer a powerful combination of profound tech expertise, mature, low-risk processes, 
                and proven experience in a variety of business domains to turn your business idea into reality.
            </p>
            <div class="skills1">
                <span id="span1">API Development</span>
                <span id="span1">Software Enhancement</span>
                <span id="span1">Maintainance & Support</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
